/* עיצוב כללי */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* כותרת ראשית */
h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* כותרת גרף */
#chartTitle {
    font-size: 28px;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 15px;
}

/* הודעת טעינה */
#loadingMessage {
    font-size: 20px;
    color: #888;
    font-weight: bold;
    margin-bottom: 15px;
}

/* עיצוב הקלט של בחירת עיר */
input {
    width: 250px;
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* מסגרת של הגרף */
#canvasContainer {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
